<footer>

  <ul>
    <li>&copy; OptimalWorks Ltd</li>
    <li><a href="tel:+44-1395-276498" class="icon phone">+44 1395 276 498</a></li>
    <li><a href="#" class="icon email">contact {at} optimalworks dot net</a></li>
    <li><a href="https://twitter.com/[twitter]" class="icon twitter">twitter</a></li>
    <li id="install"><a href="#install" class="icon add">install</a></li>
    <li data-toggled="dark">theme</li>
  </ul>

  <p>Registered in England and Wales No. 5922205</p>

  <% if (devBuild) { %><p class="dev"><%= layout || 'page.ejs' %> layout, v<%= version %></p><% } %>

</footer>
