<header>

  <% if (hero) { %>
    <figure data-href="<%- imagecdn %>f_auto/<%- hero %>" data-srcset="<%- imagecdn %>f_auto,c_scale,w_800/<%- hero %> 800w, <%- imagecdn %>f_auto/<%- hero %> 1200w" class="hero progressive replace">
      <img src="<%- imagecdn %>f_auto,c_scale,w_24/<%- hero %>" alt="<%= hero.replace(/.+\/([^/].+)$/, '$1').trim(); %>" width="24" height="<%- thumbheight %>" class="preview" />
    </figure>
  <% } %>

  <% if (herotype) { %>
  <div class="type">
    <q class="typist" data-typist-delay-start="2000"><%- herotype %></q>
  </div>
  <% } %>

  <% if (heroquote) { %>
  <div class="quote">
    <q><%- heroquote %></q>
    <% if (herocite) { %> <cite><%- herocite %></cite><% } %>
  </div>
  <% } %>

  <% if (ctalink && ctatext) { %>
    <div class="cta"><a href="[root]<%- ctalink %>" class="ghost button"><%- ctatext %></a></div>
  <% } %>

</header>
