<header>

  <% if (hero) { %>
    <figure data-href="<%- imagecdn %><%- hero %>" data-srcset="<%- imagecdn %>c_scale,w_800/<%- hero %> 800w, <%- imagecdn %><%- hero %> 1200w" class="hero progressive replace">
      <img src="<%- imagecdn %>c_scale,w_24/<%- hero %>" alt="<%= hero.replace(/.+\/([^/]+)\..+$/, '$1').trim(); %>" class="preview" />
    </figure>
  <% } %>

  <% if (heroquote) { %>
  <div class="quote">
    <q><%- heroquote %></q>
    <% if (herocite) { %> <cite><%- herocite %></cite><% } %>
  </div>
  <% } %>

  <% if (ctalink && ctatext) { %>
    <div class="cta"><a href="[root]<%- ctalink %>" class="ghost button"><%- ctatext %></a></div>
  <% } %>

</header>
