<% if (navrel && navrel.child && navrel.child.length) { %>

  <nav class="list">
    <ul>
    <%
      for (let c = 0; c < navrel.child.length; c++) {
        child = navrel.child[c];
      %>

      <li><a href="<%- root + child.url %>">
        <% if (child.thumb) { %><div class="img progressive replace" data-href="<%- imagecdn %>c_scale,w_800/<%- child.thumb %>"><img src="<%- imagecdn %>c_scale,w_24/<%= child.thumb %>" alt="<%= child.title %>" class="preview" /></div><% } %>
        <h2><%- child.title %></h2>
        <% if (child.description) { %><p><%- child.description %></p><% } %>
        <% if (nomenu) { %><p class="date"><time datetime="<%- child.date.toISOString() %>"><%- child.dateF %></time></p><% } %>
      </a></li>

    <% } %>
    </ul>
  </nav>

<% } %>
