<section class="intent">

  <ul>
    <li class="icon share">share</li>
    <li><a href="https://twitter.com/intent/tweet?url=$url$&amp;text=$title$" class="social icon twitter">Twitter</a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=$url$" class="social icon facebook">Facebook</a></li>
    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=$url$&amp;title=$title$" class="social icon linkedin">LinkedIn</a></li>
    <li><a href="mailto:?subject=$title$&amp;body=$url$" class="social icon email">email</a></li>
    <li class="icon copy" data-copyable="$url$" data-copyable-done="copied">copy URL</li>
  </ul>

</section>
