// Generic Sass mixins

// reset padding and margin
@mixin reset {
  padding: 0;
  margin: 0;
}

// reset a list
@mixin reset-list {
  list-style-type: none;
  @include reset;
}

// responsive breakpoints
@mixin respond($bp) {
  @media (min-width: map-get($breakpoint, $bp)) {
    @content;
  }
}
