// page footer
footer {
  font-size: 0.85em;
  text-align: center;
  padding: 0 0 2em 0;
  margin-top: 1.5em;
  color: $color-back;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    @include reset;
  }

  li {
    padding: 0 1em;
  }

  a:link, a:visited {
    text-align: center;
    color: $color-back;

    &:before {
      width: 1em;
      margin-right: 0.4em;
      background-color: $color-back;
      border-radius: 50%;
    }
  }

}
