// header and hero
header {

  position: relative;
  padding-top: 3em;

  .hero {

    max-height: 50vh;
    margin: 0;

    &:after {
      position: absolute;
      content: ' ';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color-fore, 0);
    }

    & + .quote {
      transform: translateY(-99em);
    }

    &.progressive:not(.replace) {

      &:after {
        animation: 1s linear 1.2s forwards overlayhero;
      }

      & + .quote {
        animation: 1.5s ease-out 1.5s forwards quotehero;
      }

    }

  }

  .type, .quote, .cta {
    position: absolute;
    font-size: 6vmin;
    top: 50%;
    left: 3vw;
    right: 3vw;
    text-align: center;
    line-height: 1.05;
    color: $color-back;
  }

  .cta {
    display: none;
    top: auto;
    bottom: 10%;

    a {
      display: block;
      width: 6em;
      padding: 0.1em 0 0.3em;
      margin: 0 auto;
      color: $color-back !important;
      border: 2px solid $color-back;
      transition: background-color 0.3s linear;

      &:hover, &:focus {
        background-color: rgba($color-logo, 0.7);
      }

    }
  }

  @include respond('small') {

    .type, .quote {
      top: 35%;
    }

    .cta {
      display: block;
    }

  }

  q::before, q::after {
    content: "";
  }

}


// animation
@keyframes overlayhero {
	0% { background-color: rgba($color-fore, 0); }
	100% { background-color: rgba($color-fore, 0.8); }
}

@keyframes quotehero {
	0% {
    filter: blur(30px);
    transform: translateY(-2em);
  }
	100% {
    filter: blur(0px);
    transform: translateY(0);
  }
}
