// menu system
$menuheight: 2.8em;
$menupad: 1.5em;

nav.main {

  height: $menuheight;

  p {
    line-height: 1.2;
  }

  a:link, a:visited {
    color: $color-fore;
  }

  a:hover, a:active, a:focus {
    color: $color-logo;
  }

}

#menuopen, #menu {
  display: none;
}

nav.active {

  #menuopen, #menu {
    display: block;
  }

  #menuopen {
    width: 2em;
    white-space: nowrap;
    overflow: hidden;
    transform: scale(0.7);
  }

}

#menu {

  position: fixed;
  width: auto;
  right: 0;
  top: $menuheight;
  bottom: 0;
  transform: translateX(100%);
  will-change: transform;
  transition: transform 0.2s ease-in-out;

  &.open {
    transform: translateX(0%);
  }

  &, ul, li {
    list-style-type: none;
    @include reset;
  }

  ul {
    display: none;
  }

  .open ul {
    display: block;
  }

  a, strong {
    display: block;
    font-size: 1.2em;
    width: 10em;
    padding: 0.2em 0 0.4em $menupad;
    margin: 0;
  }

  ul a, ul strong {
    padding-left: $menupad + 1em;
  }

  a.opener {
    float: left;
    width: $menupad;
    padding-left: 0;
    background: inline('images/svg/right.svg') no-repeat 50% 50%;
    background-size: 30%;
    transform: rotate(0deg);
    will-change: transform;
    transition: transform 0.2s ease-in-out;
  }

  .open .opener {
    transform: rotate(90deg);
  }

}

@include respond('medium') {

  #menu, nav.active #menu {
    position: static;
    display: flex;
    float: right;
    background-color: transparent;
    transform: translateX(0%);
  }

  #menu {

    a, strong {
      width: auto;
      padding: 0.5em 2vw 1em;
    }

    a.opener {
      display: none;
    }

    .open ul, ul {
      position: absolute;
      top: $menuheight;
      display: none;
    }

    li {
      position: relative;
    }

    li:hover ul, li:focus ul {
      display: block;
      background-color: rgba($color-menu, 0.9);
      padding-bottom: 0.8em;

      a, strong {
        padding: 0.2em 2vw;
      }
    }

  }

  #menuopen, nav.active #menuopen {
    display: none;
  }

}


// fix header bar
@media (min-height: 35em) {

  nav.main {
    position: fixed;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  }

}
