// relative navigation
.tag, .relative, .intent {

  clear: both;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 1.5em 0 0 0;
  }

  li {
    text-align: left;
    padding: 0;
    margin: 1.5vmin;
  }

  li.link-next {
    margin-left: auto;
    text-align: right;
  }

  li.link-parent {
    flex-basis: 100%;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

}

// tags
p.tag {
  text-align: right;
}

.tag ul {
  justify-content: flex-end;
}

// share block
.intent {

  display: none;
  margin-top: 2em;
  border: 1px solid $color-logo;

  ul {
    justify-content: center;
    margin: 0;
  }

  li {
    margin: 1.5vmin 0;
  }

  a {
    padding: 0 0.7vmin;
  }

}

// activate sharing links
.js .intent {
  display: block;
}

// contact
ul.contact {

  &, li {
    list-style-type: none;
    @include reset;
  }

  li {
    text-align: center;
    padding: 0.6em 0;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .phone {
    font-size: 1.5em;
  }

}
