// progressive image CSS
.progressive {
  display: block;
  position: relative;
  overflow: hidden;
  outline: none;

  img {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
    border: 0 none;
  }

  img.preview {
    filter: blur(2vw);
    transform: scale(1.05);
  }

  img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    animation: reveal 1s ease-out;
  }

}

// animation
@keyframes reveal {
	0% { transform: scale(1.05); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
}
