/* revealer initial state */
.revealer {
  opacity: 0;
}

/* revealer animations when in view */
.revealer.up { animation: revealup 0.6s ease forwards; }
@keyframes revealup {
	0% { opacity: 0.2; transform: translateY(100px); }
	100% { opacity: 1; transform: translateY(0); }
}

.revealer.down { animation: revealdown 0.6s ease forwards; }
@keyframes revealdown {
	0% { opacity: 0.2; transform: translateY(-100px); }
	100% { opacity: 1; transform: translateY(0); }
}

.revealer.left { animation: revealleft 0.6s ease forwards; }
@keyframes revealleft {
	0% { opacity: 0.2; transform: translateX(-100px); }
	100% { opacity: 1; transform: translateX(0); }
}

.revealer.right { animation: revealright 0.6s ease forwards; }
@keyframes revealright {
	0% { opacity: 0.2; transform: translateX(100px); }
	100% { opacity: 1; transform: translateX(0); }
}

.revealer.zoomup { animation: revealzoomup 0.6s ease forwards; }
@keyframes revealzoomup {
	0% { opacity: 0.2; transform: scale(0.7) translateY(100px); }
	100% { opacity: 1; transform: scale(1) translateY(0); }
}
