// dark theme
[data-toggled="dark"] {
  cursor: pointer;

  &:before {
    display: inline-block;
    content: ' ';
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-right: 0.4em;
    background-color: $color-fore;
    border: 0.15em solid $color-back;
    border-radius: 20%;
  }
}

// dark theme component-specific colours
body.dark {

  [data-toggled="dark"]:before {
    background-color: $color-back;
    border-color: $color-fore;
  }

  &, main, aside, .list a:link, .list a:visited {
    color: $color-back;
    background-color: $color-fore;
  }

  a:link, a:visited, .linkable, input:focus + label, textarea:focus + label {
    color: lighten($color-logo, 20%);
  }

  input[type="checkbox"], input[type="radio"] {

    & + label::before {
      background-color: $color-fore;
    }

    & + label::after {
      border-color: lighten($color-logo, 10%);
      box-shadow: -2px 2px 0 $color-fore;
    }

  }

  a, .linkable {
    &:hover, &:active, &:focus {
      color: lighten($color-logo, 40%);
    }
  }

  code  {
    background-color: lighten($color-fore, 10%);
  }

  button {
    color: $color-fore;
    background-color: $color-menu;
  }

  blockquote {
    background-color: darken($color-logo, 6%);

    &:after {
      border-color: darken($color-logo, 6%) transparent transparent darken($color-logo, 6%);
    }
  }

  .list li, .list .img, .video {
    border-color: $color-back;
  }

  .icon:before, .icon.right::after, .list svg {
    filter: brightness(1.2);
  }

  .optimalworks {
    color: $color-back !important;
  }

  .optimalworks::before, #menuopen {
    filter: invert(100%) brightness(200%);
  }

  nav.main, #menu {
    background-color: rgba($color-logo, 0.97);

    strong, a:link, a:visited {
      color: $color-back;
    }

    a:hover, a:active, a:focus {
      color: darken($color-back, 20%);
    }
  }

  @include respond('medium') {

    #menu {
      li:hover ul, li:focus ul {
        background-color: rgba($color-logo, 0.97);
      }
    }

  }



}
