// Base styles
html {
  touch-action: manipulation;
  background-color: $color-logo;
}

body {
  font-family: $font-main;
  font-size: $font-size-old;
  font-size: $font-size-rwd;
  font-weight: 300;
  line-height: 1.2;
  @include reset;
  color: $color-fore;
  background-color: $color-back;
}

table, input, output, textarea, select, option, pre, button {
  font-family: $font-main;
  font-size: 1em;
  font-weight: 300;
}

pre {
	font-family: $font-mono;
}

h1, h2, h3, strong {
  font-weight: 400;
  @include reset;
  margin: 1em 0 0 0;
}

p {
  line-height: 1.4;
  margin: 1em 0 0 0;
}

h2 + p, h3 + p {
  margin-top: 0.2em;
}

ul, ol {
  padding: 0;
  margin: 1.5em 3em 1em 3em;
}

ul {
  list-style-type: square;
}

li {
  padding: 0;
  margin: 0.8em 0 0 0;
}

li > :first-child, li a > :first-child {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

blockquote {

  display: block;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1em;
  color: $color-back;
  background-color: $color-fore;

  p {
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.1;
    text-align: center;
    margin: 0;

    &:before {
      float: left;
      font-family: serif;
      content: '\201c';
      font-style: normal;
      font-size: 3em;
      margin-top: -0.3em;
    }
  }

  cite {
    display: block;
    font-size: 0.7em;
    font-weight: 600;
    font-style: italic;
    margin-top: 0.4em;
  }

  @include respond('small') {

    width: 40%;
    float: right;
    margin: 1em 0 0.5em 2em;

  }

  &:after {
    position: absolute;
    right: 15px;
    bottom: -15px;
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-color: $color-fore transparent transparent $color-fore;
  }

}

hr {
	height: 0px;
	border: 0 none;
  border-bottom: 1px solid #999;
	margin: 0.5rem 0;
}

a:link, a:visited {
  text-decoration: none;
  color: $color-logo;

  main & {
    border-bottom: 1px dotted $color-logo;
  }
}

a:hover, a:active, a:focus {
  color: lighten($color-logo, 20%);
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  @include reset;
  user-select: none;
}

.articleinfo {
  font-size: 0.85em;
  padding-bottom: 0.3em;
  border-bottom: 3px solid lighten($color-fore, 70%);
}

@include respond('medium') {

  .articleinfo {
    text-align: right;
  }

}
