// Base styles
:root {
  font-size: $font-size-rwd;
}

html {
  touch-action: manipulation;
  background-color: $color-logo;
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.2;
  @include reset;
  color: $color-fore;
  background-color: $color-back;
  overscroll-behavior: none;
}

table, input, output, textarea, select, option, pre, button {
  font-family: $font-main;
  font-size: 1em;
  font-weight: 300;
}

h1, h2 {
  clear: both;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.03em;
  padding: 0;
  margin: 1em 0 0 0;
  scroll-margin-top: 4rem;
}

h2 {
  font-size: 1.4rem;
  margin-top: 2em;
}

p {
  line-height: 1.5;
  margin: 1em 0 0 0;
}

h2 + p, h2 + blockquote + p {
  margin-top: 0.2em;
}

ul, ol {
  padding: 0;
  margin: 1.5em 3em;
}

ul {
  list-style-type: square;
}

li {
  line-height: 1.5;
  padding: 0;
  margin: 0.8em 0 0 0;
}

li > :first-child, li a > :first-child {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

figure {
  margin: 1em 0 0 0;
}

figure.inline, a.inline {
  box-shadow: 0 1px 2px $color-fore;
}

blockquote {

  display: block;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1em;
  color: $color-back;
  background-color: $color-fore;

  p {
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.15;
    text-align: center;
    text-indent: 0.5em;
    margin: 0;

    &:before {
      position: absolute;
      font-family: serif;
      content: '\201c';
      font-style: normal;
      font-size: 3em;
      margin: -0.4em 0 0 -0.7em;
      color: darken($color-menu, 50%);
    }
  }

  cite {
    display: block;
    font-size: 0.7em;
    font-weight: 600;
    font-style: italic;
    margin-top: 0.4em;
  }

  @include respond('small') {

    width: 40%;
    float: right;
    margin: 1em 0 0.5em 2em;

  }

  &:after {
    position: absolute;
    right: 15px;
    bottom: -15px;
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-color: $color-fore transparent transparent $color-fore;
  }

}

hr {
	height: 0px;
	border: 0 none;
  border-bottom: 1px solid #999;
	margin: 0.5rem 0;
}

a:link, a:visited, .linkable {
  text-decoration: none;
  color: $color-logo;
  cursor: pointer;
  user-select: none;

  main & {
    text-decoration: underline solid currentColor;
  }
}

a, .linkable {
  &:hover, &:active, &:focus {
    color: lighten($color-logo, 20%);
  }
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  @include reset;
  user-select: none;
}

pre, code {
  font-family: $font-mono;
  font-size: 0.9rem;
  background-color: lighten($color-menu, 6%);
  padding: 0.05em 0.3em;
  border-radius: 0.2em;
}

pre {
  padding: 0.2em 0.3em;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

.articleinfo {
  font-size: 0.85em;
  padding-bottom: 0.3em;
  border-bottom: 3px solid lighten($color-fore, 70%);
}

@include respond('medium') {

  .articleinfo {
    text-align: right;
  }

  figure.inline, a.inline {
    width: 50%;
    float: right;
    margin: 1em 0 1em 2em;
  }

  figure.inline.alt, a.inline.alt {
    float: left;
    margin: 1em 2em 1em 1em;
  }

}
