// Base styles
html {
  touch-action: manipulation;
  background-color: $color-logo;
}

body {
  font-family: $font-main;
  font-size: $font-size-old;
  font-size: $font-size-rwd;
  font-weight: 300;
  line-height: 1.2;
  @include reset;
  color: $color-fore;
  background-color: $color-back;
}

table, input, output, textarea, select, option, pre, button {
  font-family: $font-main;
  font-size: 1em;
  font-weight: 300;
}

pre {
	font-family: $font-mono;
}

h1, h2, h3, strong {
  font-weight: 400;
  @include reset;
  margin: 1em 0 0 0;
}

p {
  margin: 1em 0 0 0;
}

h2 + p, h3 + p {
  margin-top: 0.2em;
}

ul, ol {
  padding: 0;
  margin: 1.5em 0 1em 3em;
}

ul {
  list-style-type: square;
}

li {
  padding: 0;
  margin: 0.8em 0 0 0;
}

li > :first-child, li a > :first-child {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

hr {
	height: 0px;
	border: 0 none;
  border-bottom: 1px solid #999;
	margin: 0.5rem 0;
}

a:link, a:visited {
  text-decoration: none;
  color: $color-logo;
}

a:hover, a:active, a:focus {
  color: lighten($color-logo, 20%);
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  @include reset;
  user-select: none;
}
