// fallback layout
header, footer {
  background-color: $color-logo;
}

main, aside {
  max-width: 46em;
  padding: 0 1em;
  margin: 0 auto;
  background-color: $color-back;
}

nav.main, #menu {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba($color-menu, 0.9);
}

.menuopen nav.main {
  position: fixed;
}

#logo, #menuopen {
  float: left;
  font-size: 1.5em;
  margin: 0.2em 2vw 0.4em;
}

#menuopen {
  float: right;
}

// grid layout
@supports (display: grid) {

  body {
    display: grid;
    grid-template-columns: minmax(4vw,1fr) minmax(15em,35em) minmax(4vw,1fr);
  }

  header, footer, nav.main {
    grid-column: 1 / 4;
  }

  main, aside {
    grid-column: 2 / 3;
    @include reset;
  }

}
